
<div class="component-wrapper">
    <h2>Drugs and Item History</h2>
    <table>
        <tr>
            <th>Visit start</th>
            <th>Visit stops</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Net</th>
            </tr>
          <tbody *ngFor="let aSet of (myClaimData$ | async) " >
                    <tr *ngFor="let anItem of aSet.resource.item ">
                      <td >{{ aSet.resource.billablePeriod.start | date : dateFormat }} </td>
                      <td >{{ aSet.resource.billablePeriod.end | date : dateFormat }}</td>
                      <td > {{anItem.service.text }}</td>
                      <td > {{anItem.quantity.value }}</td>
                      <td > {{anItem.category.text }}</td>
                      <td > {{anItem.unitPrice.value }} </td>
                    </tr>
                  </tbody>
    </table>
  </div>
