<div class="login-wrapper">
  <mat-card class="login" *ngIf="!mainService.Patient">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username" value="1975632">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </p>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button">
      <button type="submit" mat-button mat-raised-button color="primary">Login</button>
    </div>

    </form>
    </mat-card-content>
  </mat-card>
</div>
