
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 300px;

  button {
    line-height: 3em;
    height: 3em;
  }
}

.bg-heading {
  margin-top: -10px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}