

<div class="login">
  <div class="bg-heading" style="background-image: url('../assets/openimis-medical-health-care.png')"></div>
  <button mat-raised-button color="primary" routerLink="/login">Login</button>
</div>

<div>
  <h2>About openIMIS</h2>
  <div>
    <p>openIMIS seeks to provide a comprehensive system linking patient, provider and payer data. Because it is open source, anyone can copy, modify and distribute the source code, which will be managed and continuously improved by the open source software community.</p>
    <p>The management information system will have a modular and&amp;nbsp;interoperable structure. This allows it to be adapted to the needs of a variety of low- and middle-income countries on their path to universal health coverage, or UHC. The initiative also seeks to create a community of practice for software developers and users and to&amp;nbsp;provide capacity-building services.</p>
  </div>
</div>


