
.main-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.inner-wrapper {
  margin: 10px 20px;
}

.header {
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.title {
  margin: 0 auto;

  a {
    text-decoration: none;
    color: black;
  }
}
