
.main-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.inner-wrapper {
  margin: 10px 20px;
}

.header {
  border-bottom: 1px solid rgb(114, 116, 117);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 auto;

  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
  }

  div {
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: black;

    .thin-title {
      font-weight: 100;
    }
    .bold-title {
      font-weight: 500;
    }
  }
}
