<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/in/dashboard/']" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
    <span >dashboard</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/in/police-info/']" routerLinkActive="router-link-active">
      <mat-icon>perm_identity</mat-icon>
      <span >Policy</span>
    </button>
    <button mat-menu-item [routerLink]="['/in/welcome/']" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
      <span >dashboard</span>
    </button>
    <button mat-menu-item [routerLink]="['/in/claims-history/']" routerLinkActive="router-link-active">
      <mat-icon>list</mat-icon>
      <span >Claims history</span>
    </button>
    <button mat-menu-item [routerLink]="['/in/drugs-history/']" routerLinkActive="router-link-active">
      <mat-icon>local_hospital</mat-icon>
      <span >Drugs history</span>
    </button>
    <button mat-menu-item [routerLink]="['/login/']" routerLinkActive="router-link-active">
      <mat-icon>double_arrow</mat-icon>
      <span >login/logout</span>
    </button>
  </mat-menu>
