
<div class="component-wrapper">
  <div *ngFor="let aSet of (myClaimData$ | async) ">
    <div class="claim">
    <h2> General </h2>
    <table>
      <tr>
        <th>Identifier</th>
        <th>Status</th>
        <th>Visit start</th>
        <th>Visit stops</th>
      </tr>
      <tr>
        <td>{{ aSet.resource.id}}</td>
        <td>{{ aSet.resource.status}}</td>
        <td>{{ aSet.resource.billablePeriod.start}}</td>
        <td>{{ aSet.resource.billablePeriod.end}}</td>
      </tr>
    </table>
    <h2> Item and services</h2>
    <table>
      <tr><th>Date</th><th>Description</th><th>Quatity</th><th>Net</th></tr>
      <tr  *ngFor="let anItem of aSet.resource.item ">
          <td> {{anItem.servicedDate | json }}</td>
          <td> {{anItem.category | json }}</td>
          <td> {{anItem.quantity | json }}</td>
          <td> {{anItem.net | json }}</td>
      </tr>

    </table>
    </div>
  </div>
</div>
