/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Our general styling
.component-wrapper {
  padding: 25px 20px;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
}

html *
{
   color:rgb(114, 116, 117);

   button span {
     color: white !important;
   }
}

